<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Вопросы с хештегом: <%=@tag %></h1>

  <div class="column">
    <% @questions.each do |question| %>
      <div class="border-top border-dark">
        <%= render partial: 'questions/question', object: question %>
      </div>
    <% end %>
  </div>



    <% @ARusers.each do |q| %>
      <div class="border-top border-dark">
      <%= q.id %>
        <% q.questions.each do |q| %>
          <%= q.id %>
          <%= q.text %>|
        <% end %>
      </div>
    <% end %>
    <%=@ARusers %>
</div>
